/* FONT FAMILY */
#toolbar-container .ql-size span[data-label='3px']::before {
  font-size: 3px;
}
.ql-size-3px {
  font-size: 3px;
}

#toolbar-container .ql-size span[data-label='6px']::before {
  font-size: 6px;
}
.ql-size-6px {
  font-size: 6px;
}

#toolbar-container .ql-size span[data-label='8px']::before {
  font-size: 8px;
}
.ql-size-8px {
  font-size: 8px;
}

#toolbar-container .ql-size span[data-label='10px']::before {
  font-size: 10px;
}
.ql-size-10px {
  font-size: 10px;
}

#toolbar-container .ql-size span[data-label='12px']::before {
  font-size: 12px;
}
.ql-size-12px {
  font-size: 12px;
}

#toolbar-container .ql-size span[data-label='14px']::before {
  font-size: 14px;
}
.ql-size-14px {
  font-size: 14px;
}

#toolbar-container .ql-size span[data-label='16px']::before {
  font-size: 16px;
}
.ql-size-16px {
  font-size: 16px;
}

#toolbar-container .ql-size span[data-label='18px']::before {
  font-size: 18px;
}
.ql-size-18px {
  font-size: 18px;
}

#toolbar-container .ql-size span[data-label='20px']::before {
  font-size: 20px;
}
.ql-size-20px {
  font-size: 20px;
}

#toolbar-container .ql-size span[data-label='22px']::before {
  font-size: 22px;
}
.ql-size-22px {
  font-size: 22px;
}

#toolbar-container .ql-size span[data-label='24px']::before {
  font-size: 24px;
}
.ql-size-24px {
  font-size: 24px;
}

#toolbar-container .ql-size span[data-label='30px']::before {
  font-size: 30px;
}
.ql-size-30px {
  font-size: 30px;
}

#toolbar-container .ql-size span[data-label='36px']::before {
  font-size: 36px;
}
.ql-size-36px {
  font-size: 36px;
}

#toolbar-container .ql-size span[data-label='42px']::before {
  font-size: 42px;
}
.ql-size-42px {
  font-size: 42px;
}

#toolbar-container .ql-size span[data-label='48px']::before {
  font-size: 48px;
}
.ql-size-48px {
  font-size: 48px;
}

#toolbar-container .ql-size span[data-label='54px']::before {
  font-size: 54px;
}
.ql-size-54px {
  font-size: 54px;
}

#toolbar-container .ql-size span[data-label='60px']::before {
  font-size: 60px;
}
.ql-size-60px {
  font-size: 60px;
}

#toolbar-container .ql-size span[data-label='72px']::before {
  font-size: 72px;
}
.ql-size-72px {
  font-size: 72px;
}
